@use '../breakpoints/breakpoints';

footer{
    position: relative;
    background-image: url(/assests/images/footer-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 700px;

    .footer{
        display: flex;
        justify-content: space-between;
        padding: 72px 266px 0 266px;

        .copyright{
            display: flex;
            align-items: center;
            gap: 21px;
        }

        &-navbar ul{
            display: flex;
            gap: 40px;

            li p{
                opacity: 0.45;
            }

            li p:hover{
                opacity: 1;
                cursor: pointer;
                transition: 0.5ms;
            }
        }
    }

    @include breakpoints.media("<=phone"){
        display: flex;
        justify-content: center;
        background-size: contain;
        padding-bottom: 50px;
        height: 500px;

        .footer{
            padding-inline: 0;
            flex-direction: column-reverse;
            justify-content: space-between;

            &-navbar ul{
                flex-direction: column;
                align-items: center;
            }
        }
    }

    @include breakpoints.media(">phone", "<=tablet"){

        display: flex;
        justify-content: center;
        background-size: contain;
        padding-bottom: 50px;
        height: 500px;

        .footer{
            padding-inline: 0;
            flex-direction: column-reverse;
            justify-content: space-between;

            &-navbar ul{
                flex-direction: column;
                align-items: center;
            }
        }
    }

    @include breakpoints.media(">tablet", "<=desktop"){
        .footer{
            padding-inline: 30px;
        }
    }
}