@use '../components/button';
@use '../abstracts/colors';
@use '../abstracts/mixins';
@use '../abstracts/typography';
@import '../abstracts/variables';

header{
    position: relative;
    height: 100vh;
    background-image: url(/assests/images/photo.png);
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('/assests/images/photo.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 57px;

        img{
            height: 27px;
            width: 108px;
        }

        .hamburger-menu{
            display: flex;
            gap: 7px;
            flex-direction: column;
            
            span{
                width: 35px;
                height: 2px;
                background-color: white;
            }
        }

        ul{
            display: flex;
            gap: 60px;

            li{
                a{
                   text-transform: uppercase; 
                }
            }
        }
    }

    .hero{
        position: absolute;
        top: 60%;
        left: 50%;
        width: 80vw;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 63px;

        h1{
            text-align: center;
            margin-bottom: 30px;
            span{
                font-weight: typography.$fw-bold;
            }
        }

        p{
            text-align: center;
            font-size: typography.$font-size-lg;
            color: white;
        }

        .button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 72px;

            .button-learn-more{
                @include button.buttonTheme();
                border:2px solid white;
            }
        }
    }

}


@include mixins.xs{
    header{
        padding-inline: 30px;

        nav{           
            ul{
                display: none;
            }
        }

        .hero{

            .first{
                bottom: 150px;
            }

            p{
                font-size: typography.$font-size-md;
            }
        }
    }
}

@include mixins.sm{
    header{
        nav{
            ul{
                display: flex;
            }
        }
    }
}

@include mixins.md{
    header{
        nav{
            ul{
                display: flex;
            }
        }
    }
}

@include mixins.lg{
    header{
        nav{

            .hamburger-menu{
                display: none;
            }

            ul{
                display: flex;
            }
        }
    }
}

@include mixins.xxl{
        header{
            padding: $wrapper;
            .hero{
                width: 65%;

            }
        }
}