@use 'button';
@use '../abstracts/colors';
@use '../abstracts/typography';
@import '../abstracts/variables';

header{
    position: relative;
    height: 100vh;
    background-image: url(/assests/images/photo.png);
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('/assests/images/photo.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: $wrapper;
    display: flex;
    flex-direction: column;

    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 57px;

        img{
            height: 27px;
            width: 108px;
        }

        ul{
            display: flex;
            gap: 60px;

            li a{
                text-transform: uppercase;
            }
        }
    }

    .hero{
        position: absolute;
        top: 60%;
        left: 50%;
        width: 65%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: 63px;

        h1{
            margin-bottom: 30px;
            span{
                font-weight: typography.$fw-bold;
            }
        }

        p{
            font-size: typography.$font-size-lg;
            color: white;
        }

        .button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 72px;

            .button-learn-more{
                @include button.buttonTheme();
                border:2px solid white;
            }
        }
    }

}