@use '../components/carousel';
@use '../abstracts/variables';
@use '../abstracts/typography';
@use '../abstracts/colors';
@use '../breakpoints/breakpoints';

#quotes{
    
    position: relative;
    padding: variables.$wrapper;
    padding-block: 188px 147px;
    background-image: url(/assests/images/photo_2.png);
    background-repeat: no-repeat;
    text-align: center;

    .quotes-carousel{
        display: flex;
        justify-content: space-between;

        .slider-wrapper .slides-container .slide-2 {

            img{
                margin-bottom: 45px;
            }
    
            p{
                color: colors.$transperent-name;
                font-weight: typography.$fw-light;
        
                span{
                    font-weight: typography.$fw-medium;
                }
            }
    
        }
    }

    .slider-buttons{
        margin-top: 123px;
    }

    @include breakpoints.media("<=phone"){
        padding-inline: 0;
        background-size: cover;

        .quotes-carousel .slider-wrapper .slides-container .slide-2 p{
            padding-inline: 50px;
        }
    }

    @include breakpoints.media(">phone", "<=tablet"){
        padding-inline: 0;
        background-size: cover;
    }

    @include breakpoints.media(">tablet", "<=desktop"){
        padding-inline: 0;
        background-size: cover;
    }

    @include breakpoints.media(">desktop", "<=LGdesktop"){
        padding-inline: 100px;
        background-size: cover;
    }

    @include breakpoints.media(">LGdesktop"){
        background-size: cover;
    }
}

q{
    margin-bottom: 38px;

    span{
        color: colors.$green;
    }

    @include breakpoints.media("<=phone"){
        text-align: center;
        font-size: typography.$font-size-lg;
        width: 80%;
    }

    @include breakpoints.media(">phone", "<=tablet"){
        width: 75%;
    }

    @include breakpoints.media(">tablet", "<=desktop"){
        width: 50%;
    }

    @include breakpoints.media(">desktop", "<=LGdesktop"){
        width: 60%;
    }
}