@use '../abstracts/colors';
@use '../abstracts/typography';

.team-members{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 111px;

    .member{
        position: relative;
        display: flex;
        align-items: end;
        padding: 50px 55px 0 0;
        text-align: center;

        img{
            width: 100%;
            padding-left: 55px;
        }

        q{
            display: none;
            padding: 186px 119px;
        }

        .member-name{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 380px;
            height: 398px;
            position: absolute;
            background-color: rgba($color: colors.$green, $alpha: 0.9);
            text-align: center;            
            font-family: typography.$font-family-primary;
            font-size: typography.$font-size-2xl;
            color: colors.$white;
            font-weight: typography.$fw-extraLight;
            opacity: 0;
        }
    }

    .member .member-name:hover{
        cursor: pointer;
        opacity: 1;
        transition: 0.5ms;
    }

    .dark-grey-background{
        background-color: #e4e4e5;
    }

    .light-grey-background{
        background-color: #eff0f0;
    }
}