@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: ProximaNova;
  src: url("/assests/style/fonts/Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanova-regular.otf") format("truetype");
}
/* Font families. */
/* Font sizes. */
/* Line heights. */
/* Letter spacings. */
/*font weight */
q, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: ProximaNova;
  font-size: 1.125rem;
  color: #87949e;
  letter-spacing: 0.45px;
}

h1 {
  font-size: 3.75rem;
  font-weight: 100;
  color: white;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 3.75rem;
  font-weight: 200;
  color: #576671;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: black;
}

a {
  font-size: 0.875rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.45px;
}

q {
  font-size: 1.875rem;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.75px;
}

header {
  position: relative;
  height: 100vh;
  background-image: url(/assests/images/photo.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assests/images/photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 266px 0 265px;
  display: flex;
  flex-direction: column;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}
header nav img {
  height: 27px;
  width: 108px;
}
header nav ul {
  display: flex;
  gap: 60px;
}
header nav ul li a {
  text-transform: uppercase;
}
header .hero {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 63px;
}
header .hero h1 {
  margin-bottom: 30px;
}
header .hero h1 span {
  font-weight: 700;
}
header .hero p {
  font-size: 1.5rem;
  color: white;
}
header .hero .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
header .hero .button .button-learn-more {
  background-color: transperent;
  width: 183px;
  height: 47px;
  border-radius: 23.5px;
  color: white;
  text-align: center;
  letter-spacing: 0.45px;
  display: grid;
  place-items: center;
  border: 2px solid white;
}

.about-content {
  padding: 0px 266px 0 265px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}
.about-content-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 156px;
  text-align: center;
}
.about-content-element .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 86px;
  width: 182px;
  height: 182px;
  border-radius: 50%;
  background-color: rgba(133, 147, 157, 0.15);
}
.about-content-element .image-container:hover {
  background-color: #17daa3;
  transition: 0.2ms;
}
.about-content-element .image-container img {
  width: 53px;
  height: 53px;
  z-index: 2;
}
.about-content-element p {
  margin-top: 48px;
  text-align: center;
  line-height: 30px;
}

.button-learn-more-green {
  background-color: #17daa3;
  width: 183px;
  height: 47px;
  border-radius: 23.5px;
  color: white;
  text-align: center;
  letter-spacing: 0.45px;
  display: grid;
  place-items: center;
  margin: auto;
  margin-top: 107px;
}

#work-element-1 {
  background-color: rgba(237, 239, 241, 0.35);
  margin-top: 108px;
}

.work-element {
  padding: 0px 266px 0 265px;
  padding-block: 144px 103px;
  display: grid;
  grid-template-columns: 33% 67%;
  gap: 247px;
}
.work-element-description {
  width: 80%;
  padding-block: 20px 62px;
}
.work-element-description h2 {
  margin-bottom: 72px;
}
.work-element-description p {
  line-height: 36px;
  letter-spacing: 0.45px;
}
.work-element-description .button-learn-more-green {
  place-items: left;
  margin: 74px 0 0 0;
}

#work-element-2 {
  gap: 0;
  grid-template-columns: 60% 40%;
}
#work-element-2 .work-element-image-2 {
  grid-row: 1;
  grid-column: 2;
}
#work-element-2 .work-element-description-2 {
  grid-row: 1;
  grid-column: 1;
  width: 90%;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
}
.slider-wrapper button svg {
  margin: auto;
}
.slider-wrapper ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slides-container {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide-arrow {
  background-color: transparent;
  border: none;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  cursor: pointer;
}

.first {
  position: absolute;
}

#slide-arrow-prev {
  left: 0;
}

#slide-arrow-next {
  right: 0;
}

.slider-buttons {
  display: flex;
  justify-content: center;
}
.slider-buttons .slider-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
}
.slider-buttons .slider-icon:not(:first-child) {
  margin-left: 13px;
}

#quotes {
  position: relative;
  padding: 0px 266px 0 265px;
  padding-block: 188px 147px;
  background-image: url(/assests/images/photo_2.png);
  background-repeat: no-repeat;
}
#quotes .quotes-carousel {
  display: flex;
  justify-content: space-between;
}
#quotes .quotes-carousel .slider-wrapper .slides-container .slide img {
  margin-bottom: 45px;
}
#quotes .quotes-carousel .slider-wrapper .slides-container .slide p {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}
#quotes .quotes-carousel .slider-wrapper .slides-container .slide p span {
  font-weight: 500;
}
#quotes .slider-buttons {
  margin-top: 123px;
}

q {
  margin-bottom: 38px;
}
q span {
  color: #17daa3;
}

#services {
  background-color: rgba(237, 239, 241, 0.35);
}
#services .services {
  padding: 0px 266px 0 265px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin-top: 166px;
  padding-bottom: 156px;
}
#services .services .service {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 50px;
}
#services .services .service-image {
  background-color: #fff;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .services .service-image img {
  width: 32px;
  height: 32px;
}
#services .services .service-description h3 {
  margin-bottom: 55px;
  font-size: 3.75rem;
  font-weight: 200;
  color: #576671;
  letter-spacing: 1.5px;
}
#services .services .service-description p {
  font-size: 0.875rem;
  line-height: 48px;
  letter-spacing: 0.45px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 111px;
}
.team-members .member {
  display: flex;
  align-items: end;
  padding: 50px 55px 0 55px;
}
.team-members .member img {
  width: 100%;
}
.team-members .dark-grey-background {
  background-color: #e4e4e5;
}
.team-members .light-grey-background {
  background-color: #eff0f0;
}

#pricing {
  background-color: rgba(237, 239, 241, 0.35);
  padding: 0px 266px 0 265px;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 107px;
}
.items .item {
  background-color: #ffffff;
}
.items .item-price {
  padding: 54px 34px 57px 34px;
}
.items .item-price h3 {
  margin-bottom: 27px;
  font-size: 3.75rem;
  font-weight: 200;
  letter-spacing: 1.5px;
  color: #17daa3;
}
.items .item-price p {
  opacity: 45%;
}
.items .item-description {
  padding: 67px 34px 75px 34px;
}
.items .item-description p {
  line-height: 48px;
  letter-spacing: 0.45px;
}
.items .item-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 34px 30px 34px;
  background-color: #17daa3;
}
.items .item-button p {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}
.section-title span {
  width: 30px;
  height: 1px;
  margin-block: 27px 38px;
  background-color: #17daa3;
}/*# sourceMappingURL=style.css.map */