@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: ProximaNova;
  src: url("/assests/style/fonts/Proxima-Nova-Extra-Condensed/Demo_Fonts/Fontspring-DEMO-proximanova-regular.otf") format("truetype");
}
/* Font families. */
/* Font sizes. */
/* Font sizes for mobile */
/* Line heights. */
/* Letter spacings. */
/*font weight */
q, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: ProximaNova;
  font-size: 1.125rem;
  color: #87949e;
  letter-spacing: 0.45px;
}

h1 {
  font-size: 3.75rem;
  font-weight: 100;
  color: white;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 3.75rem;
  font-weight: 200;
  color: #576671;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: black;
}

a {
  font-size: 0.875rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.45px;
}

q {
  font-size: 1.875rem;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.75px;
}

/**
*
* Testing
*
**/
header {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assests/images/photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0px 266px 0 265px;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}
header nav img {
  height: 27px;
  width: 108px;
}
header nav .hamburger-menu {
  display: flex;
  gap: 7px;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
header nav .hamburger-menu span {
  width: 36px;
  height: 2px;
  background-color: white;
  transition: all 300ms ease-in-out;
  transform-origin: 5px 1px;
}
header nav .hamburger-menu.open > span:first-child {
  transform: rotate(45deg);
}
header nav .hamburger-menu.open > span:nth-child(2) {
  opacity: 0;
}
header nav .hamburger-menu.open > span:last-child {
  transform: rotate(-45deg);
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
}
header nav ul li a {
  text-transform: uppercase;
}
header nav .mobile-hamburger-links {
  display: none;
  background-color: white;
  width: 100px;
  height: 100px;
}
header .hero {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 63px;
}
header .hero h1 {
  text-align: center;
  margin-bottom: 30px;
}
header .hero h1 span {
  font-weight: 700;
}
header .hero p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
header .hero .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
header .hero .button .button-learn-more {
  background-color: transperent;
  width: 183px;
  height: 47px;
  border-radius: 23.5px;
  color: white;
  text-align: center;
  letter-spacing: 0.45px;
  display: grid;
  place-items: center;
  border: 2px solid white;
}
header .hero .button .button-learn-more:hover {
  cursor: pointer;
  background-color: #276856;
  transition: 0.5s;
}
header .icon-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  cursor: pointer;
}
@media (max-width: 576px) {
  header {
    padding-inline: 30px;
  }
  header nav {
    position: relative;
  }
  header nav .hidden {
    opacity: 0;
  }
  header nav ul {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-block: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    z-index: 100;
  }
  header nav ul li {
    text-align: right;
  }
  header nav ul li a {
    color: black;
  }
  header nav ul li svg {
    fill: black;
  }
  header nav ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  header .hero h1 {
    font-size: 3.125rem;
  }
  header .hero p {
    text-wrap: balance;
  }
  header .hero .first {
    bottom: 150px;
    height: 2em;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  header {
    padding-inline: 30px;
  }
  header .hidden {
    opacity: 0;
  }
  header nav {
    position: relative;
  }
  header nav ul {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-block: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    z-index: 100;
  }
  header nav ul li {
    text-align: right;
  }
  header nav ul li a {
    color: black;
  }
  header nav ul li svg {
    fill: black;
  }
  header nav ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  header .hero h1 {
    font-size: 3.125rem;
  }
  header .hero p {
    font-size: 1.125rem;
    text-wrap: balance;
  }
  header .hero .first {
    bottom: 150px;
    height: 2em;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  header {
    padding-inline: 50px;
  }
  header nav .hamburger-menu {
    display: none;
  }
  header nav ul {
    gap: 30px;
  }
  header .hero h1 {
    font-size: 3.125rem;
  }
  header .hero p {
    font-size: 1.125rem;
    text-wrap: balance;
  }
  header .hero .first {
    bottom: 150px;
    height: 2em;
  }
}
@media (min-width: 1367px) and (max-width: 1900px) {
  header {
    padding-inline: 100px;
  }
  header nav .hamburger-menu {
    display: none;
  }
  header .hero p {
    text-wrap: balance;
  }
  header .hero .first {
    bottom: 150px;
  }
}
@media (min-width: 1901px) {
  header nav .hamburger-menu {
    display: none;
  }
}

#about-us .about-content {
  padding: 0px 266px 0 265px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 156px;
}
#about-us .about-content-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#about-us .about-content-element .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 86px;
  width: 182px;
  height: 182px;
  border-radius: 50%;
  background-color: rgba(133, 147, 157, 0.15);
}
#about-us .about-content-element .image-container:hover {
  background-color: #17daa3;
  transition: 0.5s;
}
#about-us .about-content-element .image-container:hover img {
  filter: brightness(2);
  transition: 0.5s;
}
#about-us .about-content-element .image-container img {
  width: 30%;
  z-index: 2;
}
#about-us .about-content-element p {
  margin-top: 48px;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 576px) {
  #about-us .about-content {
    padding-inline: 20px;
    padding: 0;
    grid-template-columns: 100%;
  }
  #about-us .about-content-element p {
    text-wrap: balance;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #about-us .about-content {
    padding-inline: 30px;
    padding: 0;
    grid-template-columns: 50% 50%;
    gap: 30px 0;
  }
  #about-us .about-content-element p {
    text-wrap: balance;
    padding-inline: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  #about-us .about-content {
    margin-top: 100px;
    padding: 0;
  }
  #about-us .about-content-element h3, #about-us .about-content-element p {
    padding-inline: 20px;
  }
  #about-us .about-content-element .image-container {
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1367px) and (max-width: 1900px) {
  #about-us .about-content {
    margin-top: 100px;
    padding-inline: 100px;
  }
  #about-us .about-content-element h3, #about-us .about-content-element p {
    padding-inline: 20px;
  }
  #about-us .about-content-element .image-container {
    width: 180px;
    height: 180px;
    margin-bottom: 50px;
  }
}

.button-learn-more-green {
  background-color: #17daa3;
  width: 183px;
  height: 47px;
  border-radius: 23.5px;
  color: white;
  text-align: center;
  letter-spacing: 0.45px;
  display: grid;
  place-items: center;
  margin: auto;
  margin-top: 107px;
}
.button-learn-more-green:hover {
  cursor: pointer;
  background-color: #276856;
  transition: 0.5s;
}

#work #work-element-1 {
  background-color: rgba(237, 239, 241, 0.35);
  margin-top: 108px;
}
#work .work-element {
  padding: 0px 266px 0 265px;
  padding-block: 144px 103px;
  display: grid;
  grid-template-columns: 33% 67%;
  gap: 247px;
}
#work .work-element-description {
  width: 80%;
  padding-block: 20px 62px;
}
#work .work-element-description h2 {
  margin-bottom: 72px;
}
#work .work-element-description p {
  line-height: 36px;
  letter-spacing: 0.45px;
}
#work .work-element-description .button-learn-more-green {
  place-items: left;
  margin: 74px 0 0 0;
}
@media (max-width: 576px) {
  #work .work-element {
    padding: 0;
    padding-inline: 20px;
    grid-template-columns: 100%;
    text-align: center;
    gap: 50px;
  }
  #work .work-element img {
    width: 100%;
  }
  #work .work-element-description {
    width: 100%;
  }
  #work .work-element-description .button-learn-more-green {
    margin: 74px auto;
    margin-bottom: 0;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #work .work-element {
    padding: 0;
    grid-template-columns: 100%;
    gap: 0;
    place-items: center;
    padding-block: 70px;
  }
  #work .work-element img {
    width: 60%;
  }
  #work .work-element-description {
    text-align: center;
  }
  #work .work-element-description .button-learn-more-green {
    margin: 74px auto;
    margin-bottom: 0;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  #work .work-element {
    padding-block: 80px;
    padding-inline: 30px;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 20px;
  }
  #work .work-element img {
    width: 100%;
  }
  #work .work-element-description {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
  }
  #work .work-element-description .button-learn-more-green {
    place-items: right;
  }
}
@media (min-width: 1367px) and (max-width: 1900px) {
  #work .work-element {
    padding-block: 80px;
    padding-inline: 100px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  #work .work-element img {
    width: 80%;
  }
  #work .work-element-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
  }
  #work .work-element-description .button-learn-more-green {
    place-items: right;
  }
}
#work #work-element-2 {
  gap: 0;
  grid-template-columns: 60% 40%;
}
#work #work-element-2 .work-element-image-2 {
  grid-row: 1;
  grid-column: 2;
}
#work #work-element-2-description-2 {
  grid-row: 1;
  grid-column: 1;
  width: 90%;
}
@media (max-width: 576px) {
  #work #work-element-2 {
    grid-template-columns: 100%;
  }
  #work #work-element-2 .work-element-image-2 {
    grid-column: 1;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #work #work-element-2 {
    grid-template-columns: 100%;
  }
  #work #work-element-2 .work-element-image-2 {
    grid-column: 1;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  #work #work-element-2 {
    grid-template-columns: 1fr 1fr;
  }
  #work #work-element-2 .work-element-description-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }
}
@media (min-width: 1367px) and (max-width: 1900px) {
  #work #work-element-2 {
    grid-template-columns: 1fr 1fr;
  }
  #work #work-element-2 .work-element-description-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
}
.slider-wrapper button svg {
  margin: auto;
}
.slider-wrapper ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slides-container {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slide-2 {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide-arrow {
  background-color: transparent;
  border: none;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  cursor: pointer;
  z-index: 1000;
}

.first {
  position: absolute;
}

.second {
  position: absolute;
}
@media (max-width: 576px) {
  .second {
    height: 1.5rem;
  }
}

#slide-arrow-prev {
  left: 0;
}

#slide-arrow-next {
  right: 0;
}

#slide-arrow-prev-2 {
  left: 20%;
}
@media (max-width: 768px) {
  #slide-arrow-prev-2 {
    left: 5%;
  }
}

#slide-arrow-next-2 {
  right: 20%;
}
@media (max-width: 768px) {
  #slide-arrow-next-2 {
    right: 5%;
  }
}

.slider-buttons {
  display: flex;
  justify-content: center;
}
.slider-buttons .slider-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
}
.slider-buttons .slider-icon:not(:first-child) {
  margin-left: 13px;
}

.active {
  background-color: white;
}

#quotes {
  position: relative;
  padding: 0px 266px 0 265px;
  padding-block: 188px 147px;
  background-image: url(/assests/images/photo_2.png);
  background-repeat: no-repeat;
  text-align: center;
}
#quotes .quotes-carousel {
  display: flex;
  justify-content: space-between;
}
#quotes .quotes-carousel .slider-wrapper .slides-container .slide-2 img {
  margin-bottom: 45px;
}
#quotes .quotes-carousel .slider-wrapper .slides-container .slide-2 p {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}
#quotes .quotes-carousel .slider-wrapper .slides-container .slide-2 p span {
  font-weight: 500;
}
#quotes .slider-buttons {
  margin-top: 123px;
}
@media (max-width: 576px) {
  #quotes {
    padding-inline: 0;
    background-size: cover;
  }
  #quotes .quotes-carousel .slider-wrapper .slides-container .slide-2 p {
    padding-inline: 50px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #quotes {
    padding-inline: 0;
    background-size: cover;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  #quotes {
    padding-inline: 0;
    background-size: cover;
  }
}
@media (min-width: 1367px) and (max-width: 1900px) {
  #quotes {
    padding-inline: 100px;
    background-size: cover;
  }
}
@media (min-width: 1901px) {
  #quotes {
    background-size: cover;
  }
}

q {
  margin-bottom: 38px;
}
q span {
  color: #17daa3;
}
@media (max-width: 576px) {
  q {
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  q {
    width: 75%;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  q {
    width: 50%;
  }
}
@media (min-width: 1367px) and (max-width: 1900px) {
  q {
    width: 60%;
  }
}

#services {
  background-color: rgba(237, 239, 241, 0.35);
}
#services .services {
  padding: 0px 266px 0 265px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin-top: 166px;
  padding-bottom: 156px;
}
#services .services .service {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 50px;
}
#services .services .service-image {
  background-color: #fff;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .services .service-image img {
  width: 32px;
  height: 32px;
}
#services .services .service-description h3 {
  margin-bottom: 55px;
  font-size: 3.75rem;
  font-weight: 200;
  color: #576671;
  letter-spacing: 1.5px;
}
#services .services .service-description p {
  line-height: 48px;
  letter-spacing: 0.45px;
}
@media (max-width: 576px) {
  #services .services {
    padding: 0;
    padding-inline: 20px;
    margin-top: 50px;
    grid-template-columns: 100%;
  }
  #services .services .service {
    grid-template-columns: 100%;
    place-items: center;
    text-align: center;
  }
  #services .services .service-description h3 {
    font-size: 3.125rem;
  }
  #services .services .service-description p {
    text-wrap: balance;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #services .services {
    margin-top: 50px;
    padding: 0;
    padding-inline: 30px;
    grid-template-columns: 50% 50%;
    gap: 20px 0;
  }
  #services .services .service {
    grid-template-columns: 100%;
    gap: 20px;
    place-items: center;
    text-align: center;
  }
  #services .services .service-description h3 {
    font-size: 2.25rem;
  }
  #services .services .service-description p {
    text-wrap: balance;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  #services .services {
    margin-top: 50px;
    padding: 0;
    padding-inline: 30px;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }
  #services .services .service {
    grid-template-columns: 100%;
    gap: 10px;
    place-items: center;
    text-align: center;
  }
  #services .services .service-description h3 {
    font-size: 2.25rem;
  }
  #services .services .service-description p {
    text-wrap: balance;
  }
}
@media (min-width: 1367px) and (max-width: 1900px) {
  #services .services {
    padding: 0;
    padding-inline: 100px;
    grid-template-columns: 50% 50%;
    gap: 50px 10px;
  }
  #services .services .service {
    gap: 10px;
  }
}

#team .team-members {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-top: 111px;
}
#team .team-members .member {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
}
#team .team-members .member img {
  padding-top: 57px;
  width: 80%;
}
#team .team-members .member .member-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(23, 218, 163, 0.9);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  color: #ffffff;
  font-weight: 200;
  opacity: 0;
}
#team .team-members .member .member-name:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}
#team .team-members .dark-grey-background {
  background-color: #e4e4e5;
}
#team .team-members .light-grey-background {
  background-color: #eff0f0;
}

#pricing {
  background-color: rgba(237, 239, 241, 0.35);
  padding: 0px 266px 0 265px;
}
#pricing #mobile-view-of-items {
  display: none;
}
#pricing .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 107px;
  padding-bottom: 111px;
}
#pricing .items .item {
  background-color: #ffffff;
  box-shadow: 0 0 35px 0 rgba(227, 227, 227, 0.65);
}
#pricing .items .item hr {
  color: rgba(0, 0, 0, 0.1);
}
#pricing .items .item-price {
  padding: 54px 34px 57px 34px;
}
#pricing .items .item-price h3 {
  margin-bottom: 27px;
  font-size: 3.75rem;
  font-weight: 200;
  letter-spacing: 1.5px;
  color: #17daa3;
}
#pricing .items .item-price p {
  opacity: 45%;
}
#pricing .items .item-description {
  padding: 67px 34px 75px 34px;
}
#pricing .items .item-description p {
  line-height: 48px;
  letter-spacing: 0.45px;
}
#pricing .items .item-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 34px 30px 34px;
  background-color: #17daa3;
}
#pricing .items .item-button p {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}
#pricing .items .item-button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #276856;
}
@media (max-width: 576px) {
  #pricing {
    padding: 0;
  }
  #pricing #desktop-view-of-items {
    display: none;
  }
  #pricing #mobile-view-of-items {
    display: grid;
  }
  #pricing .items {
    padding-inline: 20px;
    grid-template-columns: 100%;
  }
  #pricing .items .item {
    width: 70vw;
    margin: 0 auto;
    border-radius: 10px;
  }
  #pricing .items .item-button {
    border-radius: 0 0 10px 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #pricing {
    padding: 0;
  }
  #pricing .items {
    grid-template-columns: 50% 50%;
    padding-inline: 30px;
    gap: 15px;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  #pricing {
    padding: 0;
  }
  #pricing .items {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 60px;
    gap: 25px;
  }
}
@media (min-width: 1367px) and (max-width: 1900px) {
  #pricing {
    padding: 100px;
  }
  #pricing .items {
    grid-template-columns: 50% 50%;
    place-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 50px;
  }
  #pricing .items .item {
    width: 80%;
  }
}

#locations {
  padding: 126px 0 111px 265px;
}
#locations .locations {
  display: flex;
  gap: 56px;
}
#locations .locations-description {
  padding-block: 65px 80px;
}
#locations .locations-description h2 {
  margin-bottom: 72px;
}
#locations .locations-description p {
  line-height: 36px;
  letter-spacing: 0.45px;
}
#locations .locations-description .button-learn-more-green {
  place-items: left;
  margin: 74px 0 0 0;
}
#locations img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 576px) {
  #locations {
    padding: 0 0 0 0;
  }
  #locations .locations {
    flex-direction: column-reverse;
    text-align: center;
  }
  #locations .locations-description {
    padding-inline: 20px;
  }
  #locations .locations .button-learn-more-green {
    margin: 74px auto;
    margin-bottom: 0;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #locations {
    padding: 0;
  }
  #locations .locations {
    flex-direction: column-reverse;
    text-align: center;
  }
  #locations .locations-description {
    padding-inline: 30px;
  }
  #locations .locations .button-learn-more-green {
    margin: 74px auto;
    margin-bottom: 0;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  #locations {
    padding: 0;
  }
  #locations .locations {
    align-items: center;
  }
  #locations .locations-description {
    width: 50%;
    padding-inline: 30px;
  }
  #locations .locations img {
    width: 50%;
  }
}
@media (min-width: 1367px) and (max-width: 1900px) {
  #locations {
    padding: 0;
  }
  #locations .locations {
    align-items: center;
  }
  #locations .locations-description {
    width: 50%;
    padding-left: 100px;
  }
  #locations .locations img {
    width: 50%;
  }
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 282px 0 250px 0;
  background-image: url(/assests/images/try-our-template.png);
  background-repeat: no-repeat;
}
#banner h2 {
  color: #ffffff;
  font-weight: 200;
}
#banner h2 span {
  font-weight: 700;
}
@media (max-width: 576px) {
  #banner {
    background-size: cover;
    text-align: center;
  }
  #banner h2 {
    font-size: 3.125rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #banner {
    padding-inline: 30px;
    background-size: cover;
    text-align: center;
  }
  #banner h2 {
    font-size: 3.125rem;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  #banner {
    padding-inline: 30px;
    background-size: cover;
    text-align: center;
  }
  #banner h2 {
    font-size: 3.125rem;
  }
}
@media (min-width: 1901px) {
  #banner {
    background-size: cover;
  }
}

footer {
  position: relative;
  background-image: url(/assests/images/footer-background.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 700px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  padding: 72px 266px 0 266px;
}
footer .footer .copyright {
  display: flex;
  align-items: center;
  gap: 21px;
}
footer .footer-navbar ul {
  display: flex;
  gap: 40px;
}
footer .footer-navbar ul li p {
  opacity: 0.45;
}
footer .footer-navbar ul li p:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.5ms;
}
@media (max-width: 576px) {
  footer {
    display: flex;
    justify-content: center;
    background-size: contain;
    padding-bottom: 50px;
    height: 500px;
  }
  footer .footer {
    padding-inline: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  footer .footer-navbar ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    background-size: contain;
    padding-bottom: 50px;
    height: 500px;
  }
  footer .footer {
    padding-inline: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  footer .footer-navbar ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  footer .footer {
    padding-inline: 30px;
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  text-align: center;
}
.section-title span {
  width: 30px;
  height: 1px;
  margin-block: 27px 38px;
  background-color: #17daa3;
}
@media (max-width: 576px) {
  .section-title {
    padding-inline: 20px;
  }
  .section-title h2 {
    font-size: 3.125rem;
  }
  .section-title p {
    text-wrap: balance;
    line-height: 30px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .section-title {
    padding-inline: 20px;
  }
  .section-title h2 {
    font-size: 3.125rem;
  }
  .section-title p {
    text-wrap: balance;
    line-height: 30px;
  }
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */