@use '../abstracts/typography';
@use '../breakpoints/breakpoints';

.slider-wrapper {
    position: relative;
    overflow: hidden;

    button svg{
        margin: auto;
    }

    ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.slides-container {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;  
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.slide-2{
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.slide-arrow {
    background-color: transparent;
    border: none;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
  }

.first{
    position: absolute;
}

.second{
    position: absolute;

    @include breakpoints.media("<=phone"){
        height: 1.5rem;
    }
}
  
  #slide-arrow-prev {
    left: 0;
  }


  #slide-arrow-next {
    right: 0;
  }

  #slide-arrow-prev-2 {
    left: 20%;

    @include breakpoints.media("<=phone"){
        left: 5%;
    }
  }


  #slide-arrow-next-2 {
    right: 20%;

    @include breakpoints.media("<=phone"){
        right: 5%;
    }
  }

  .slider-buttons{
    display: flex;
    justify-content: center;
    .slider-icon{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid white;

        &:not(:first-child){
            margin-left: 13px;
        }
    }
}

.active{
    background-color: white;
}