$white: #ffffff;
$black: #000000;
$green: #17daa3;
$dark-grey: #576671;
$light-grey: #87949e;
$light-grey-background: rgba(133, 147, 157, 0.15);
$very-light-grey-background: rgba(237,	239,	241, 0.35);
$transperent-name: rgba(255, 255, 255, 0.3);